@{
    ViewBag.Title = "Index";
    IList<Domain.SysMenu> allMenu = ViewBag.allMenu;
    var firstMenu = from m in allMenu
                    where m.ParentMenu == null
                    orderby m.SortCode
                    select m;
    //var firstMenu = allMenu.Where(m => m.ParentMenu == null)
    //                         .OrderBy(m => m.SortCode);
}
<link href="~/css/HomeIndex.css" rel="stylesheet" />
<link href="~/css/ViewPage.css" rel="stylesheet" />
<script src="~/js/jquery-1.9.1.min.js"></script>
<script src="~/js/jquery-migrate-1.1.1.js"></script>
<script>
    $(function () {
        // 自适应页面大小
        setScreenSize();
        // 绑定窗口大小改变事件
        window.onresize = setScreenSize;

        // 设置菜单的显示
        $("#divTopMenu .s4_left_m1").click(function () {
            // 一级菜单移除当前菜单设置
            $("#divTopMenu .s4_left_m1").removeClass("current");
            // 隐藏全部二级菜单
            $("#divTopMenu ol").hide();
            // 设置当前菜单
            $(this).addClass("current");
            // 显示当前菜单的二级菜单
            $(this).next("ol").show();
        });

        // 打开页面时默认展开第一个一级菜单
        $("#divTopMenu .s4_left_m1").eq(0).addClass("current");
        $("#divTopMenu ol").eq(0).show();

        // 设置二级菜单项的 Click 事件
        $("#divTopMenu ol a").click(function () {
            // 取消全部二级菜单的当前菜单设置
            $("#divTopMenu ol a").removeClass("current");
            // 设置当前二级菜单
            $(this).addClass("current");
        });
    });
    function setScreenSize() {
        // 1.高度
        // 1.1.获取浏览器可显示内容的高度
        var screenHeight = getTotalHeight();
        // 1.2.计算子页面显示高度
        var headerHeight = 60;
        var footerHeight = 30;
        var offsetHeight = 25;
        var readerDivHeight = screenHeight - headerHeight - footerHeight - offsetHeight;
        // 1.3.设置子页面显示高度
        $("#divCenter").css("height", readerDivHeight);
        $("#divContentPage").css("height", readerDivHeight - 12);
        $("#frameContentPage").css("height", readerDivHeight - 12);
        // 2.宽度
        // 2.1.获取浏览器可显示内容的高度
        var screenWidth = getTotalWidth();
        // 2.2.计算子页面显示宽度
        var menuWidth = $("#divTopMenu").width();
        var offsetWidth = 50;
        var readerDivWidth = screenWidth - menuWidth - offsetWidth;
        // 2.3.设置子页面显示宽度
        $("#divCenter").css("width", screenWidth);
        $("#divContentPage").css("width", readerDivWidth);
        $("#frameContentPage").css("width", readerDivWidth);
    }
    function getTotalHeight() {
        // 得到屏幕显示区的高度
        var ret;
        if ($.browser.msie) {
            // IE浏览器
            if (document.compatMode == "CSS1Compat") {
                // 兼容模式
                ret = document.documentElement.clientHeight;
            } else {
                ret = document.body.clientHeight;
            }
        } else {
            // 非IE浏览器
            ret = self.innerHeight;
        }
        return ret;
    }
    function getTotalWidth() {
        // 得到屏幕显示区的高度
        var ret;
        if ($.browser.msie) {
            // IE浏览器
            if (document.compatMode == "CSS1Compat") {
                // 兼容模式
                ret = document.documentElement.clientWidth;
            } else {
                ret = document.body.clientWidth;
            }
        } else {
            // 非IE浏览器
            ret = self.innerWidth;
        }
        return ret;
    }
</script>
<div class="page">
    <div>
        <!-- Header -->
        <div class="s4_header">
            <img class="s4_s_logo" src="/images/header_logo.png" alt="" />
            <p class="s4_fr s4_right">
                <a class="btn4" href="/SysUser/ChangePWD" target="frameContentPage">修改密码</a>
                <a class="btn2" href="/SysUser/Logout" onclick="return confirm('您确信要注销吗?')">注销</a>
            </p>
        </div>
    </div>
    <div id="divCenter">
        <table border="0" cellpadding="0" style="width: 100%; border: 1px solid blue;">
            <tr>
                <td valign="top" bgcolor="#F0F0F0" style="border-right: solid 1px #157FA8">
                    <div id="divTopMenu">
                        <div class="header">
                            <ul class="nav">
                                @foreach (var item in firstMenu)
                                {
                                    var findSecondMenu = from m in allMenu
                                                         where  m.ParentMenu != null && m.ParentMenu.ID ==  item.ID
                                                         orderby m.SortCode
                                                         select m;
                                    <li>
                                        <a class="s4_left_m1" href="#">@item.Name</a>
                                        <ol class="second-nav">
                                            @foreach (var menu in findSecondMenu)
                                            {
                                                <li>
                                                    <a href="/@menu.ControllerName/@menu.ActionName" target="frameContentPage">@menu.Name</a>
                                                </li>
                                            }
                                        </ol>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    
                </td>
                <td>
                    <div id="divContentPage">
                        <iframe id="frameContentPage" name="frameContentPage" frameborder="0"></iframe>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="divFooter">
        <div>版权所有: 啊哈哈&nbsp;&nbsp;&nbsp;&nbsp;技术支持：啊哈哈</div>
    </div>
</div>