.page {
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.s4_header {
    height: 60px;
    background-color: #3997C0;
    border-bottom: 5px #1891b4 solid;
    overflow: hidden;
}
.s4_fl {
    float: left;
}
.s4_fr {
    float: right;
}
.s4_s_logo {
    height: 60px;
    overflow: hidden;
}
.s4_right {
    padding-right: 20px;
    padding-top: 20px;
}
.s4_header .s4_s_logo img {
    display: block;
}
#divContentPage {
    margin-left: 19px;
}
#divFooter {
    background-color: #3997C0;
    text-align: center;
    color: #FFFFFF;
    height: 30px;
    line-height: 30px;
    clear: both;
}
#divTopMenu {
    margin-left: -38px;
    width: 250px;
}
#divTopMenu ul, #divTopMenu li {
    list-style: none;
    /*float: left;*/
    direction: ltr;
}
#divTopMenu ul a {
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
}
#divTopMenu ul>li {
    margin-bottom: 2px;
}
#divTopMenu .s4_left_m1 {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #3a99c1;
}
#divTopMenu .s4_left_m1.current, #divTopMenu .s4_left_m1:hover {
    background-position: 0 0;
}
#divTopMenu ul ol a {
    color: #333;
    font-size: 14px;
    text-align: center;
    margin-left: -38px;
}
#divTopMenu ul ol {
    display: none;
}
#divTopMenu ul ol a:hover, #divTopMenu ul ol a.current {
    background: #fff;
    color: #157fa8;
}